@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

/* Replace from here */
:root {
    --background: oklch(0.9873 0.0087 67.7249);
    --foreground: oklch(0.2724 0.0177 57.4319);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2724 0.0177 57.4319);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2724 0.0177 57.4319);
    --primary: oklch(0.6658 0.13 61.7978);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9354 0.0196 84.5902);
    --secondary-foreground: oklch(0.4219 0.0238 57.5632);
    --muted: oklch(0.9707 0.0146 84.5835);
    --muted-foreground: oklch(0.5576 0.0222 57.8064);
    --accent: oklch(0.9354 0.0196 84.5902);
    --accent-foreground: oklch(0.4219 0.0238 57.5632);
    --destructive: oklch(0.5714 0.2121 27.2502);
    --destructive-foreground: oklch(0.9848 0 0);
    --border: oklch(0.8935 0.0149 84.5857);
    --input: oklch(0.8935 0.0149 84.5857);
    --ring: oklch(0.6658 0.13 61.7978);
    --chart-1: oklch(0.6658 0.13 61.7978);
    --chart-2: oklch(0.8327 0.1393 97.9431);
    --chart-3: oklch(0.6789 0.1385 0.2912);
    --chart-4: oklch(0.5883 0.0948 233.4233);
    --chart-5: oklch(0.5924 0.1278 136.3946);
    --sidebar: oklch(0.9873 0.0087 67.7249);
    --sidebar-foreground: oklch(0.2724 0.0177 57.4319);
    --sidebar-primary: oklch(0.6658 0.13 61.7978);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9354 0.0196 84.5902);
    --sidebar-accent-foreground: oklch(0.4219 0.0238 57.5632);
    --sidebar-border: oklch(0.8935 0.0149 84.5857);
    --sidebar-ring: oklch(0.6658 0.13 61.7978);
    --font-sans: "Merriweather Sans", sans-serif;
    --font-serif: "Playfair Display", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 12px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.08;
    --shadow-color: hsl(25, 15%, 15%);
    --shadow-2xs: 0px 4px 12px 0px hsl(25 15% 15% / 0.04);
    --shadow-xs: 0px 4px 12px 0px hsl(25 15% 15% / 0.04);
    --shadow-sm: 0px 4px 12px 0px hsl(25 15% 15% / 0.08),
        0px 1px 2px -1px hsl(25 15% 15% / 0.08);
    --shadow: 0px 4px 12px 0px hsl(25 15% 15% / 0.08),
        0px 1px 2px -1px hsl(25 15% 15% / 0.08);
    --shadow-md: 0px 4px 12px 0px hsl(25 15% 15% / 0.08),
        0px 2px 4px -1px hsl(25 15% 15% / 0.08);
    --shadow-lg: 0px 4px 12px 0px hsl(25 15% 15% / 0.08),
        0px 4px 6px -1px hsl(25 15% 15% / 0.08);
    --shadow-xl: 0px 4px 12px 0px hsl(25 15% 15% / 0.08),
        0px 8px 10px -1px hsl(25 15% 15% / 0.08);
    --shadow-2xl: 0px 4px 12px 0px hsl(25 15% 15% / 0.2);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2724 0.0177 57.4319);
    --foreground: oklch(0.9906 0.0097 84.5745);
    --card: oklch(0.3247 0.0226 57.3596);
    --card-foreground: oklch(0.9906 0.0097 84.5745);
    --popover: oklch(0.3247 0.0226 57.3596);
    --popover-foreground: oklch(0.9906 0.0097 84.5745);
    --primary: oklch(0.7706 0.1084 65.0167);
    --primary-foreground: oklch(0.2724 0.0177 57.4319);
    --secondary: oklch(0.4219 0.0238 57.5632);
    --secondary-foreground: oklch(0.9477 0.0386 84.5832);
    --muted: oklch(0.3735 0.0205 57.5883);
    --muted-foreground: oklch(0.8544 0.0724 84.3464);
    --accent: oklch(0.4219 0.0238 57.5632);
    --accent-foreground: oklch(0.9477 0.0386 84.5832);
    --destructive: oklch(0.6295 0.1785 23.7701);
    --destructive-foreground: oklch(0.2724 0.0177 57.4319);
    --border: oklch(0.4689 0.0271 57.5442);
    --input: oklch(0.4689 0.0271 57.5442);
    --ring: oklch(0.7706 0.1084 65.0167);
    --chart-1: oklch(0.7706 0.1084 65.0167);
    --chart-2: oklch(0.8884 0.1249 98.2535);
    --chart-3: oklch(0.7617 0.1129 358.6467);
    --chart-4: oklch(0.6799 0.1097 233.435);
    --chart-5: oklch(0.7256 0.1822 136.9551);
    --sidebar: oklch(0.2175 0.0125 57.5482);
    --sidebar-foreground: oklch(0.9906 0.0097 84.5745);
    --sidebar-primary: oklch(0.7706 0.1084 65.0167);
    --sidebar-primary-foreground: oklch(0.2724 0.0177 57.4319);
    --sidebar-accent: oklch(0.4219 0.0238 57.5632);
    --sidebar-accent-foreground: oklch(0.9477 0.0386 84.5832);
    --sidebar-border: oklch(0.4689 0.0271 57.5442);
    --sidebar-ring: oklch(0.7706 0.1084 65.0167);
    --font-sans: "Merriweather Sans", sans-serif;
    --font-serif: "Playfair Display", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 6px;
    --shadow-blur: 18px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.3;
    --shadow-color: hsl(25, 10%, 10%);
    --shadow-2xs: 0px 6px 18px 0px hsl(25 10% 10% / 0.15);
    --shadow-xs: 0px 6px 18px 0px hsl(25 10% 10% / 0.15);
    --shadow-sm: 0px 6px 18px 0px hsl(25 10% 10% / 0.3),
        0px 1px 2px -1px hsl(25 10% 10% / 0.3);
    --shadow: 0px 6px 18px 0px hsl(25 10% 10% / 0.3),
        0px 1px 2px -1px hsl(25 10% 10% / 0.3);
    --shadow-md: 0px 6px 18px 0px hsl(25 10% 10% / 0.3),
        0px 2px 4px -1px hsl(25 10% 10% / 0.3);
    --shadow-lg: 0px 6px 18px 0px hsl(25 10% 10% / 0.3),
        0px 4px 6px -1px hsl(25 10% 10% / 0.3);
    --shadow-xl: 0px 6px 18px 0px hsl(25 10% 10% / 0.3),
        0px 8px 10px -1px hsl(25 10% 10% / 0.3);
    --shadow-2xl: 0px 6px 18px 0px hsl(25 10% 10% / 0.75);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}
/* To here */

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        @apply bg-background text-foreground;
    }

    button {
        cursor: pointer;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold tracking-tight;
    }

    .page-title {
        @apply p-6 w-full text-3xl font-semibold mb-4 bg-primary text-primary-foreground;
    }

    .container {
        @apply px-2 sm:px-6 md:px-8;
    }

    .home section {
        @apply container mx-auto py-12 px-2;
    }

    .required::after {
        content: "*";
        color: red;
        font-family: sans-serif;
        margin-right: -4px;
    }
}
