.tiptap h3 {
    font-size: 1.6em;
    margin: 20px 0 14px;
    font-weight: bold;
}

.tiptap h4 {
    font-size: 1.35em;
    margin: 18px 0 12px;
    font-weight: bold;
}

/* Paragraphs */
.tiptap p {
    margin: 16px 0;
}

/* Lists */
.tiptap ul {
    padding-left: 24px;
    list-style-type: disc;
}

.tiptap ol {
    padding-left: 24px;
    list-style-type: decimal;
}

.tiptap li {
    margin: 8px 0;
}
.tiptap > div {
    background: white;
}
